.download__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $title-color;
}

.download__title {
  font-size: $main-font-size * 2;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 16px;
  
  @media (max-width: 668px) {
    font-size: $main-font-size + 10;
    margin-bottom: 12px;
  }
}

.download__subtitle {
  font-size: $main-font-size - 1;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media (max-width: 668px) {
    font-size: $main-font-size - 2;
    margin-bottom: 30px;
  }
}


.download__btn {
  @include btn($main-font-size - 1, 20px 85px);

  @media (max-width: 668px) {
    @include btn($main-font-size - 1, 16px 60px);
  }
}