.works-list {
  display: flex;
  flex-wrap: wrap;

  .works__item {
    width: 25%;
    height: auto;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      background: transparentize($main-color, 0.15);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: $transition;
    }
    &:hover .works__text {opacity: 1;};

    @media (max-width:668px) {
      width: 50%;
    }
  }

  .works__item:hover:before {
    opacity: 1;
  }

  .works__img {
    width: 100%;
  }

  .works__text {
    opacity: 0;
    position: absolute;
    text-align: center;
    z-index: 10;
    transition: $transition;
  }

  .works__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .works__subtitle {
    display: block;
    text-transform: capitalize;
  }

}

